.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
 
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu__btn-open {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #ffffff;
    border: none;

    @media screen and (min-width:768px) {
        display: none;
    }
  }
